<div class="online-contact-container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">论团交流群-请勿加多个</h3>
    </div>
    <div class="list-group">
      <a href="#" class="list-group-item"><i class="fa fa-qq" aria-hidden="true">篮球公园 1区</i></a>
      <a href="#" class="list-group-item"><i class="fa fa-qq" aria-hidden="true">天下足球 1区</i></a>
      <a href="#" class="list-group-item"><i class="fa fa-qq" aria-hidden="true">篮球公园 2区</i></a>
      <a href="#" class="list-group-item"><i class="fa fa-qq" aria-hidden="true">天下足球 1区</i></a>
    </div>
  </div>
</div>
