<div class="social-channel-container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">社交媒体</h3>
    </div>
    <div class="list-group">
      <a href="https://www.zhibo8.cc/" class="list-group-item" target="_blank"><i class="fa fa-weibo" aria-hidden="true"></i> 直播吧</a>
      <a href="https://www.zhibo8.cc/nba/" class="list-group-item" target="_blank"><i class="fa fa-video-camera" aria-hidden="true"></i> NBA视频</a>
      <a href="https://www.zhibo8.cc/zuqiu/" class="list-group-item" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i> 足球视频</a>
    </div>
  </div>
</div>
